<a href="https://colab.research.google.com/github/ShubhamSShinde-U/AI-Lab/blob/main/AI_EXP_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#First Experiment : Take a number and make its table

In [7]:
print("Enter the number to create the table")
a =int(input())

for i in range (1,11):
  print(a,"*",i,"=",a*i)

Enter the number to create the table
56
56 * 1 = 56
56 * 2 = 112
56 * 3 = 168
56 * 4 = 224
56 * 5 = 280
56 * 6 = 336
56 * 7 = 392
56 * 8 = 448
56 * 9 = 504
56 * 10 = 560