<a href="https://colab.research.google.com/github/ShubhamSShinde-U/AI-Lab/blob/main/AI_EXP_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#First Experiment : Take a number and make its table

In [5]:
a =int(input())

for i in range (1,11):
  print(a,"*",i,"=",a*1)

12
12 * 1 = 12
12 * 2 = 12
12 * 3 = 12
12 * 4 = 12
12 * 5 = 12
12 * 6 = 12
12 * 7 = 12
12 * 8 = 12
12 * 9 = 12
12 * 10 = 12